manifest {
    description = 'Legacy Brentlab RNAseq pipeline'
    nextflowVersion = '>= 20.07.0'
}

executor {
    submitRateLimit = "2 sec"
}

process {
    executor = "slurm"
    memory = 5.GB
    scratch = true
    scratch = "${launchDir}/tmp"
    errorStrategy = "finish"

    withLabel: fastqc {
        cpus = 3
        memory = 5.GB
    }

    withLabel: align {
        cpus = 8
        memory = 3.GB
    }

    
    withLabel: htseq {
        cpus = 3
        memory = 1.GB
    }
    
    withLabel: index {
        cpus = 4
        memory = 10.MB
    }

    withLabel: multiqc {
        cpus = 1
        memory = 3.GB
    }
}

